.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
build/
dist/
*.egg-info/
.uv-cache/
.cache/

.env
app/.env

.vscode/
.idea/
.DS_Store
Thumbs.db

.ipynb_checkpoints/
lab/data/

pytest-cache-files-*/
lab/finapi/*
lab/merchant_info
../docs/*

./docs
/docs/
